<!DOCTYPE html>
<html>
<head>
    <title>Task Sections</title>
</head>
<body>
    <h1>Task Sections</h1>
    <ul>
        {% for section in sections.keys() %}
            <li>{{ section }}</li>
        {% endfor %}
    </ul>
    <form method="POST">
        <input type="text" name="section_name" required>
        <input type="submit" value="Create Section">
    </form>
</body>
</html>